*{
	margin: 0;
	padding: 0;
}
.h1{
	color: #03e9f4;
	height: 100px;
	font-size: 60px;
	background-image: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
	background-size: 100% 100%;
	text-align: center;
	display: block;
}
a{
	text-decoration: none;
	color: #03e9f4;
	transition: 0.5;
}
a:hover{
	background-color: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
	0 0 25px #03e9f4,
	0 0 50px #03e9f4,
	0 0 200px #03e9f4;
}
a:active{
	color: blue;
}

h1{
	padding: 40px;
}

.navbar{
	height: 50px;
	font-family: 'Bangers', cursive;
	font-size: 23px;
	padding: 10px; 
	background:#0d0175;
	position: sticky;
	top:0px;
	background-size: 100px;
	box-shadow: 5px 5px #ffff80;
}
.navbar ul{
	margin: 80px;
	display: inline;

}

.navbar li{
	display: inline;
	padding-left: 50px;
	padding-top: 40px; 

	
}

.dashboard1{
	display: none;
	padding: 10px;

}


.navbar li:hover .dashboard1{
	display: block;
	position: absolute;
	background-color: #002699;
	padding-left: 0px;
	
	margin-left: 135px;
	margin-top: 28px;

}
.navbar li:hover .dashboard1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .dashboard1 ul li{


}


.timeline1{
	display: none;
	padding: 10px;

}

.navbar li:hover .timeline1{
	display: block;
	position: absolute;
	background-color: #002699;
	padding-left: 0px;
	
	margin-left: 300px;
	margin-top: 28px;

}
.navbar li:hover .timeline1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .timeline1 ul li{


}

.mycourse1{
	display: none;
	padding: 10px;

}

.navbar li:hover .mycourse1{
	display: block;
	position: absolute;
	background-color: #002699;
	padding-left: 0px;
	
	margin-left: 505px;
	margin-top: 28px;

}
.navbar li:hover .mycourse1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .mycourse1 ul li{


}

.myclass1{
	display: none;
	padding: 10px;

}

.navbar li:hover .myclass1{
	display: block;
	position: absolute;
	background-color: #002699;
	padding-left: 0px;
	
	margin-left: 705px;
	margin-top: 28px;

}
.navbar li:hover .myclass1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .myclass1 ul li{


}

.events1{
	display: none;
	padding: 10px;

}

.navbar li:hover .events1{
	display: block;
	position: absolute;
	background-color: #002699;
	padding-left: 0px;
	
	margin-left: 750px;
	margin-top: 28px;

}
.navbar li:hover .events1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .events1 ul li{


}

.myprofile1{
	display: none;
	padding: 10px;

}

.navbar li:hover .myprofile1{
	display: block;
	position: absolute;
	background-color: #002699;
	padding-left: 0px;
	
	margin-left: 790px;
	margin-top: 28px;

}
.navbar li:hover .myprofile1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .myprofile1 ul li{


}

.logout1{
	display: none;
	padding: 10px;

}

.navbar li:hover .logout1{
	display: block;
	position: absolute;
	background-color: #002699;
	padding-left: 0px;
	
	margin-left: 1220px;
	margin-top: 28px;

}
.navbar li:hover .logout1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .logout1 ul li{


}

.home1{
	display: none;
	position: absolute;
}

.about1{
	display: none;
	position: absolute;
}
.services1{
	display: none;
	position: absolute;
}
.contact1{
	display: none;
	position: absolute;
}

.hg:hover .home1{
	display: block;
	position: absolute;
	background-color: #0040ff;
	margin-top: 10px;
	margin-left: 40px;
}
.hg:hover .home1 ul{
	margin-top: 0px;
	
}
.hg:hover .home1 ul li{
	display: block;
	
	padding: 10px;
}

.ab:hover .about1{
	display: block;
	position: absolute;
	background-color: #0040ff;
	margin-top: 10px;
	margin-left: 150px;

}
.ab:hover .about1 ul{
	margin-top: 0px;
	
}
.ab:hover .about1 ul li{
	display: block;
	padding: 10px;
}
.se:hover .services1{
	display: block;
	position: absolute;
	background-color: #0040ff;
	margin-top: 10px;
	margin-left: 265px;

}
.se:hover .services1 ul{
	margin-top: 0px;
	
}
.se:hover .services1 ul li{
	display: block;
	padding: 10px;
}
.co:hover .contact1{
	display: block;
	position: absolute;
	background-color: #0040ff;
	margin-top: 10px;
	margin-left: 430px;

}
.co:hover .contact1 ul{
	margin-top: 0px;
	
}
.co:hover .contact1 ul li{
	display: block;
	padding: 10px;
}
.last1{
	display: none;
	position: absolute;
}
.issue1{
	display: none;
	position: absolute;
}
.next1{
	display: none;
	position: absolute;
}

.la:hover .last1{
	display: block;
	position: absolute;
	background-color: #0040ff;
	margin-top: 10px;
	margin-left: 40px;
}
.la:hover .last1 ul{
	margin-top: 0px;
}
.la:hover .last1 ul li{
	display: block;
	padding: 10px;

}
.is:hover .issue1{
	display: block;
	position: absolute;
	background-color: #0040ff;
	margin-top: 10px;
	margin-left: 200px;
}
.is:hover .issue1 ul{
	margin-top: 0px;
}
.is:hover .issue1 ul li{
	display: block;
	padding: 10px;
}

.ne:hover .next1{
	display: block;
	position: absolute;
	background-color: #0040ff;
	margin-top: 10px;
	margin-left: 365px;
}
.ne:hover .next1 ul{
	margin-top: 0px;
}
.ne:hover .next1 ul li{
	display: block;
	padding: 10px;
}




.box{
	margin: 10px;
}
p{
	font-family: 'Shadows Into Light', cursive;
	border: 1px #000 solid;
	width: 600px;
	height: 800px;
	overflow-y: scroll;
	padding: 50px;
	background-color: white;
	margin-top: 200px;
	margin-left: 100px;

}
.logo{
	position: fixed;
	bottom: 0px;
	right: 0px;
	box-shadow: 0 0 5px #03e9f4,
	0 0 25px #03e9f4,
	0 0 50px #33cc33,
	0 0 200px #03e9f4;
}