*{
	margin: 0;
	padding: 0;
}
.h1{
	height: 100px;
	font-size: 60px;
	background-image: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
	background-size: 100% 100%;
	text-align: center;
	display: block;
}
a{
	text-decoration: none;
}
a:hover{
	color: yellow;

}
a:active{
	color: blue;
}

h1{
	padding: 40px;
}

.navbar{

	height: 50px;
	font-family: 'Bangers', cursive;
	font-size: 23px;
	padding: 10px; 
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/77a638c2-9d34-4f8d-9aef-edb8d196b304/d6eez2n-91cd344d-200f-4536-941f-a1ebe4f0c51f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNzdhNjM4YzItOWQzNC00ZjhkLTlhZWYtZWRiOGQxOTZiMzA0XC9kNmVlejJuLTkxY2QzNDRkLTIwMGYtNDUzNi05NDFmLWExZWJlNGYwYzUxZi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.PMwG56MtaANJlugstZ7d5WEiGj4f4m4auF6nffUP9Rs");
	position: sticky;
	background-size: 100px;
	top:10px;
	box-shadow: 5px 5px #ffff80;
}
.navbar ul{
	margin: 80px;
	display: inline;
}

.navbar li{
	display: inline;
	padding-left: 60px;
	padding-top: 40px; 
}

.dashboard1{
	display: none;
	padding: 10px;

}

.navbar li:hover .dashboard1{
	display: block;
	position: absolute;
	background-color: #808000;
	padding-left: 0px;
	
	margin-left: 135px;
	margin-top: 28px;

}
.navbar li:hover .dashboard1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .dashboard1 ul li{


}


.timeline1{
	display: none;
	padding: 10px;

}

.navbar li:hover .timeline1{
	display: block;
	position: absolute;
	background-color: #808000;
	padding-left: 0px;
	
	margin-left: 300px;
	margin-top: 28px;

}
.navbar li:hover .timeline1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .timeline1 ul li{


}

.mycourse1{
	display: none;
	padding: 10px;

}

.navbar li:hover .mycourse1{
	display: block;
	position: absolute;
	background-color: #808000;
	padding-left: 0px;
	
	margin-left: 505px;
	margin-top: 28px;

}
.navbar li:hover .mycourse1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .mycourse1 ul li{


}

.myclass1{
	display: none;
	padding: 10px;

}

.navbar li:hover .myclass1{
	display: block;
	position: absolute;
	background-color: #808000;
	padding-left: 0px;
	
	margin-left: 705px;
	margin-top: 28px;

}
.navbar li:hover .myclass1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .myclass1 ul li{


}

.events1{
	display: none;
	padding: 10px;

}

.navbar li:hover .events1{
	display: block;
	position: absolute;
	background-color: #808000;
	padding-left: 0px;
	
	margin-left: 355px;
	margin-top: 28px;

}
.navbar li:hover .events1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .events1 ul li{


}

.myprofile1{
	display: none;
	padding: 10px;

}

.navbar li:hover .myprofile1{
	display: block;
	position: absolute;
	background-color: #808000;
	padding-left: 0px;
	
	margin-left: 555px;
	margin-top: 28px;

}
.navbar li:hover .myprofile1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .myprofile1 ul li{


}

.logout1{
	display: none;
	padding: 10px;

}

.navbar li:hover .logout1{
	display: block;
	position: absolute;
	background-color: #808000;
	padding-left: 0px;
	
	margin-left: 720px;
	margin-top: 28px;

}
.navbar li:hover .logout1 ul{
	
	
	padding: 0px;
	margin: 0px;
}
.navbar li:hover .logout1 ul li{


}

.home1{
	display: none;
	position: absolute;
}

.about1{
	display: none;
	position: absolute;
}
.services1{
	display: none;
	position: absolute;
}
.contact1{
	display: none;
	position: absolute;
}







